{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
    {{ form.media }}
    <script type="text/javascript">
        function Select() {
            var self = this;
            self.courses = [
                {% for c in courses %}
                    {% if forloop.last %}
                        {name: '{{ c.name }}', id: {{ c.id }}}
                    {% else %}
                        {name: '{{ c.name }}', id: {{ c.id }}},
                    {% endif %}
                {% endfor %}
            ];
        }
    </script>
    <script src="{% static "js/libs/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/src/uploadConceptualTest.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if kwargs.data.course.0 %}
            $('#id_course').find('option[value={{ kwargs.data.course.0 }}]').prop('selected', true);
                vm.onSelectChangeValue("{{ kwargs.data.course.0 }}");
                {% if kwargs.data.homework.0 %}
                    $('#id_homework').find('option[value={{ kwargs.data.homework.0 }}]').prop('selected', true);
                    vm.homework("{{ kwargs.data.homework.0 }}");
                {% endif %}
            {% endif %}


        });
    </script>
{% endblock %}

{% block body-header-buttons %}
    <div class="col-xs-6 col-xs-offset-6">
        <button onclick="location.href = '{% url 'teacher' %}';" class="btn btn-info">Volver</button>
    </div>
{% endblock %}
{% block body-header-title %}Opciones para hacer un Test Conceptual{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="page-head-line text-center">1.- Crear Test usando el sitio web</h6>
                </div>
                <div class="col-xs-12">
                    <p>Puedes usar el sitio para llenar un formulario con las preguntas que quieras poner en el test.</p>
                    <a href="{% url 'new_conceptual_test_create' %}"><button class="btn btn-primary center-block">Ir al Formulario</button></a>
                </div>
                <div class="col-xs-12 margin-top">
                    <h6 class="page-head-line text-center">2.- Subir Test desde Archivo Excel</h6>
                    <p>Puedes crear un archivo xls o llenar el template disponible para crear tu test y subirlo a todos tus cursos</p>
                    </div>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <img src="{% static "img/example_test.png" %}" class="center-block spaced" />

                    </div>
                    {% crispy form %}

                    </div>
            </div>
{% endblock %}