{% extends 'base.html' %}
{% load staticfiles %}

{% block profesor-active %}class="menu-top-active"{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Alumno</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio y Curso</h4></div>
                <div class="col-md-2"><h5>{{ user.alumno.curso_actual.colegio.nombre }} - {{ user.alumno.curso_actual.nombre }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            {% if messages %}
            <div class="row">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for message in messages %}
                    <div align="center">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line">Tareas</h6>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-md-12">
                    <table id="example" class="cell-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Tarea</th>
                                <th>Respuestas Correctas en otras VideoClases</th>
                                <th>Respuestas Correctas de otros en su VideoClase</th>
                                <th>Nota</th>
                                <th>VideoClases vistas</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grupo in grupos %}
                                <tr>
                                    <td>{{ grupo.tarea.titulo }}</td>
                                    <td>
                                        {% for a in grupo.videoclase.integrantes_y_respuestas %}
                                        {% if a.user_id == user.alumno.usuario.id %}
                                        {{ a.cantidad_correctas }} / {{ a.cantidad_correctas|add:a.cantidad_incorrectas }}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% with grupo.videoclase.respuestas_de_otros as r %}
                                        {{ r.correctas }} / {{ r.correctas|add:r.incorrectas }}
                                        {% endwith %}
                                    </td>
                                    <td>{% if grupo.nota_final > 0%}{{ grupo.nota_final }}{% endif %}</td>
                                    <td>{{ grupo.videoclases_evaluadas }}</td>
                                    {% if grupo.tarea.get_estado == 1 %}
                                        {% if grupo.videoclase.alumnos_subida %}
                                        <td>
                                            <button onclick="location.href = '{% url 'enviar_videoclase' grupo.tarea.id %}';" class="btn btn-info">Editar</button>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button onclick="location.href = '{% url 'enviar_videoclase' grupo.tarea.id %}';" class="btn btn-info">Enviar</button>
                                        </td>
                                        {% endif %}
                                    {% elif grupo.tarea.get_estado == 2 %}
                                        {% if grupo.videoclase.alumnos_subida %}
                                        <td>
                                            <button onclick="location.href = '{% url 'evaluar_videoclase' grupo.tarea.id %}';" class="btn btn-info">Evaluar</button>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button onclick="location.href = '{% url 'enviar_videoclase' grupo.tarea.id %}';" class="btn btn-info">Enviar</button>
                                        </td>
                                        {% endif %}
                                    {% else %}
                                        <td>
                                            <button onclick="location.href = '{% url 'ver_videoclase' grupo.tarea.id %}';" class="btn btn-info">Ver</button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
{% include 'aux/alumno-table-translation-es.html' %}
{% endblock %}