{% extends 'base.html' %}
{% load staticfiles %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
    {{ crear_homework_form.media }}
    <script type="text/javascript">
        function Select() {
            var self = this;
            self.courses = [
                {% for c in courses %}
                    {% if forloop.last %}
                        {name: '{{ c.name }}', id: {{ c.id }}}
                    {% else %}
                        {name: '{{ c.name }}', id: {{ c.id }}},
                    {% endif %}
                {% endfor %}
            ];
            self.homework_to_evaluate = [
                {% for c in homeworks %}
                    {% if forloop.last %}
                        {name: '{{ c }}', id: {{ c.id }}}
                    {% else %}
                        {name: '{{ c }}', id: {{ c.id }}},
                    {% endif %}
                {% endfor %}
            ];

            self.previous_scalas = [];

            self.type_scalas =  [
                                {% for c in types_scalas %}
                    {% if forloop.last %}
                        {name: '{{ c }}', id: {{ c.id }}, description: `{{ c.description}}`  }
                    {% else %}
                        {name: '{{ c }}', id: {{ c.id }}, description: `{{ c.description }}` },
                    {% endif %}
                {% endfor %}
            ];

        }
    </script>
    <script src="{% static "js/src/asignarGrupo.js" %}"></script>
    <script src="{% static "js/src/crearTarea.js" %}"></script>
    <script src="{% static "js/libs/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/src/crearTareaDocumentReady.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="loader" data-bind="visible: loading">
        <div class="loader-text" align="center">
            <strong>Creando Tarea, espere un momento</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"><h4>Profesor</h4></div>
        <div class="col-xs-2"><h5>{{ user.get_full_name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-2"><h4>Colegio</h4></div>
        <div class="col-xs-2"><h5>{{ user.teacher.school.name }}</h5></div>
        <div class="col-xs-2 col-xs-offset-6">
            <button onclick="location.href = '{% url 'teacher' %}';" class="btn btn-info">Volver</button>
        </div>
    </div>
    <div class="row" id="top-form-head-line">
        <div class="col-xs-12">
            <h6 class="page-head-line"></h6>
        </div>
    </div>
    <div class="row" data-bind="visible: formErrorsVisible">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-bind="click: function() {changeFormErrorsVisible(false)}"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div align="center">
                <!-- ko foreach: formErrors -->
                <span data-bind="text: $data"></span><br/>
                <!-- /ko -->
            </div>
        </div>
    </div>


<form id="crear-homework-form" data-bind="submit: submitCrearTareaForm">
    <div class="row">
            <div align="center" class="col-xs-6">
                <div class="form-group">
                    <label for="id_video">Subir video explicativo (opcional)</label>
                    <div class="col-xs-8 col-xs-offset-2">
                        <input id="id_video" name="video" type="text" class="form-control" maxlength="100"
                               placeholder="Copiar link de video en Youtube" data-bind="value: homework.video"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="line-height:1.3;">
                        <h4>Título de Tarea</h4>
                        <input name="title" type="text" class="form-control" maxlength="80"
                               placeholder="Introduzca Título de Tarea" data-bind="value: homework.title"/>
                    </div>

                    <div class="panel-body">
                        <h4>Descripción</h4>
                        <textarea name="description" class="form-control" maxlength="400"
                                  data-bind="value: homework.description"></textarea>
                        <div class="row">
                            <div class="col-xs-7">Curso</div>
                            <div class="col-xs-5">
                                <select name="course" class="form-control  margin-top   " id="id_course"
                                        data-bind="options: select.courses,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            optionsCaption: '-- escoja un curso --',
                                            value: homework.course,
                                            valueAllowUnset: false"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Revisiones mínimas</div>
                            <div class="col-xs-5"><input class="form-control  margin-top" type="number" name="revision" min="1"
                                                         max="7" step="1" data-bind="value: homework.revision"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Fecha límite para subir tarea</div>
                            <div class="col-xs-5">
                                <div class="controls input-append date">
                                    <input class="form-control  margin-top" id="id_fecha_subida" name="date_upload" readonly=""
                                           type="text" data-bind="value: homework.date_upload"/>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $("#id_fecha_subida").datetimepicker({
                                        minView: 2,
                                        format: 'dd/mm/yyyy',
                                        weekStart: 1,
                                        autoclose: true,
                                        todayHighlight: true,
                                        startView: 2
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Fecha límite para evaluar tarea</div>
                            <div class="col-xs-5">
                                <div class="controls input-append date">
                                    <input class="form-control  margin-top" id="id_fecha_evaluacion" name="date_evaluation"
                                           readonly="" type="text" data-bind="value: homework.date_evaluation"/>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $("#id_fecha_evaluacion").datetimepicker({
                                        minView: 2,
                                        format: 'dd/mm/yyyy',
                                        weekStart: 1,
                                        autoclose: true,
                                        todayHighlight: true,
                                        startView: 2
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Tarea a evaluar (Opcional)</div>
                            <div class="col-xs-5">
                                <select name="homework_to_evaluate" class="form-control margin-top" id="id_homework_to_evaluate"
                                        data-bind="options: select.homework_to_evaluate,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            optionsCaption: '-- escoja para evaluar otra tarea--',
                                            value: homework.homework_to_evaluate"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="crear-homework-form-submit" type="submit" value="Submit" style="display: none;">

    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line">Criterios de evaluación</h6>
        </div>
        <div class="col-xs-12" >
            <div class="">
{#                <div class="row form-group" data-bind="enable: select.previous_scalas.length > 0">#}
{#                    <label class="col-md-6 control-label">Basarse en criterios existentes (Opcional)</label>#}
{#                    <div class="col-md-6">#}
{#                        <select name="previous_scalas" class="form-control" id="id_previous_scalas"#}
{#                                data-bind="options: select.previous_scalas,#}
{#                                optionsText: 'name',#}
{#                                optionsValue: 'id',#}
{#                                optionsCaption: '-- escoja un listado existente --',#}
{#                                value: homework.previous_scalas,#}
{#                                valueAllowUnset: true"></select>#}
{#                    </div>#}
{#                </div>#}
                <div class="row form-group" >
                    <label class="col-md-6 control-label">Tipo de Escala a usar
                                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                                           title="Rango de valores usados para evaluar, si no aparece la escala que necesita escribanos a software@teachingislearning.cl para agregarla"></i></label>
                    <div class="col-md-6">
                        <select name="type_scalas" class="form-control" id="id_type_scalas"
                                data-bind="options: select.type_scalas,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: '-- escoja una escala --',
                                value: homework.type_scalas,
                                valueAllowUnset: false"></select>
                    </div>
                    <div class="col-xs-12" data-bind="with: chosen_scala">
                        <span data-bind="text:$data" class="pull-right"></span>
                    </div>
                </div>
                <div class="row form-group" >
                                <div class="col-md-4">
                                    <label class=" control-label">Criterios a Evaluar
                                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                                           title="Listado de criterios que se mostrarán con la escala selecionada a los alumnos"></i></label><br>
                                    <button data-bind="click: addCriteria" class="btn btn-md btn-success"><i class="fa fa-plus-circle"></i> Agregar</button>
                                    <br>
                                </div>
                    <div  class="col-md-8" data-bind="foreach: { data: criterias, as: 'c' }">
                        <div class="row" >
                                        <div class="col-md-3">
                                            <span data-bind="text: $index()+1"></span>
                                            <button data-bind="click: $parent.removeCriteria" class="btn  btn-md btn-danger">
                                                <i class="fa fa-remove"></i> Borrar
                                            </button>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control margin-top name-criteria" data-bind="value: c.name, attr:{name: 'name_'+$index}" placeholder="Nombre del criterio (Requerido)" required/>
                                            <textarea data-bind="value: c.description" class="form-control margin-top" placeholder="Comentarios para entender el criterio (Opcional)"></textarea>
                                        </div>
                                    </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line">Designar grupos para tarea</h6>
        </div>
    </div>
    <div class="row" data-bind="visible: !asignarGrupo.hasCurso()">
        <div class="col-xs-12" align="center">
            Seleccione un curso para asignar grupos
        </div>
    </div>
    <div data-bind="visible: asignarGrupo.hasCurso">
        <form id="groups-form" data-bind="submit: submitGruposForm">
            <div class="row" data-bind="visible: asignarGrupo.hasCurso">
                <div class="col-xs-3">Alumnos por grupo</div>
                <div class="col-xs-3">
                    <input data-bind="value: asignarGrupo.cantidadPorGrupo" type="number" value="1" min="1" step="1"
                           class="form-control"/>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success" data-bind="click: asignarGrupo.asignarAleatorio">Designar grupos
                        aleatoriamente
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-xs-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr data-bind="foreach: asignarGrupo.headers">
                            <th data-bind="click: $parent.asignarGrupo.sort, text: title"></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: asignarGrupo.students">
                        <tr>
                            <td><span data-bind="text: $data.last_name"></span></td>
                            <td><span data-bind="text: $data.first_name"></span></td>
                            <td><input class="group form-control" type="number" min="0" class="form-control" data-bind="value: $data.group, attr:{name:$index}" placeholder="ingrese numero de grupo" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input id="asignar-group-form-submit" type="submit" value="Submit" style="display: none;"/>
        </form>
        <div class="row">
            <div class="col-xs-12" align="center">
                <button data-bind="click: submitForms" class="btn btn-lg btn-success">Crear Tarea</button>
            </div>
        </div>
    </div>
{% endblock %}