{% extends 'base.html' %}
{% load staticfiles %}

{% block profesor-active %}class="menu-top-active"{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button class="btn btn-info">Crear curso</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ user.profesor.colegio.nombre }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'crear_tarea' %}';" class="btn btn-info">Crear tarea</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line">Crear curso</h6>
                </div>
            </div>
            {% if messages %}
            <div class="row">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for message in messages %}
                    <div align="center">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12" align="center">
                    <div class="row">
                        <h4>Si deseas subir una planilla, sigue este formato:</h4>
                        <img src="{% static "img/formatoPlanilla.png" %}" />
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <h4>Descargar planilla: </h4>
                        </div>
                        <div class="col-md-1">
                            <h4><a href="{% static "templates/template.ods" %}">ODS</a></h4>
                        </div>
                        <div class="col-md-1">
                            <h4><a href="{% static "templates/template.xls" %}">XLS</a></h4>
                        </div>
                        <div class="col-md-1">
                            <h4><a href="{% static "templates/template.xlsx" %}">XLSX</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2" align="center">{{form.nombre.label}}</div>
                    <div class="col-md-2" align="center"><input class="form-control" type="text" name="{{form.nombre.name}}" /></div>
                    <div class="col-md-2" align="center">{{form.anho.label}}</div>
                    <div class="col-md-2" align="center"><input class="form-control" type="number" name="{{form.anho.name}}" min="2015" step="1" /></div>
                    <div class="col-md-2" align="center">{{form.file.label}}</div>
                    <div class="col-md-2" align="center"><input id="id_file" name="{{form.file.name}}" type="file" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12" align="center"><button type="submit" class="btn btn-success">Crear Curso</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}