{% extends 'base.html' %}
{% load staticfiles %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
    {{ crear_homework_form.media }}
    <link href="{% static "css/src/my-style.css" %}" rel="stylesheet">
    <script type="text/javascript">
        function Select() {
            var self = this;
            self.courses = [
                {% for c in courses %}
                    {% if forloop.last %}
                        {name: '{{ c.name }}', id: {{ c.id }}}
                    {% else %}
                        {name: '{{ c.name }}', id: {{ c.id }}},
                    {% endif %}
                {% endfor %}
            ];
            self.homework_to_evaluate = [
                {% for c in homeworks %}
                    {% if forloop.last %}
                        {name: '{{ c }}', id: {{ c.id }}}
                    {% else %}
                        {name: '{{ c }}', id: {{ c.id }}},
                    {% endif %}
                {% endfor %}
            ];

        }
    </script>
    <script src="{% static "js/src/asignarGrupo.js" %}"></script>
    <script src="{% static "js/src/crearTarea.js" %}"></script>
    <script src="{% static "js/libs/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/src/crearTareaDocumentReady.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="loader" data-bind="visible: loading">
        <div class="loader-text" align="center">
            <strong>Creando Tarea, espere un momento</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"><h4>Profesor</h4></div>
        <div class="col-xs-2"><h5>{{ user.get_full_name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-2"><h4>Colegio</h4></div>
        <div class="col-xs-2"><h5>{{ user.teacher.school.name }}</h5></div>
        <div class="col-xs-2 col-xs-offset-6">
            <button onclick="location.href = '{% url 'teacher' %}';" class="btn btn-info">Volver</button>
        </div>
    </div>
    <div class="row" id="top-form-head-line">
        <div class="col-xs-12">
            <h6 class="page-head-line"></h6>
        </div>
    </div>
    <div class="row" data-bind="visible: formErrorsVisible">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-bind="click: function() {changeFormErrorsVisible(false)}"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div align="center">
                <!-- ko foreach: formErrors -->
                <span data-bind="text: $data"></span><br/>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="row">
        <form id="crear-homework-form" data-bind="submit: submitCrearTareaForm">
            <div align="center" class="col-xs-6">
                <div class="form-group">
                    <label for="id_video">Subir video explicativo (opcional)</label>
                    <div class="col-xs-8 col-xs-offset-2">
                        <input id="id_video" name="video" type="text" class="form-control" maxlength="100"
                               placeholder="Copiar link de video en Youtube" data-bind="value: homework.video"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="line-height:1.3;">
                        <h4>Título de Tarea</h4>
                        <input name="title" type="text" class="form-control" maxlength="80"
                               placeholder="Introduzca Título de Tarea" data-bind="value: homework.title"/>
                    </div>

                    <div class="panel-body">
                        <h4>Descripción</h4>
                        <textarea name="description" class="form-control" maxlength="400"
                                  data-bind="value: homework.description"></textarea>
                        <div class="row">
                            <div class="col-xs-7">Curso</div>
                            <div class="col-xs-5">
                                <select name="course" class="form-control" id="id_course"
                                        data-bind="options: select.courses,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            optionsCaption: '-- escoja un curso --',
                                            value: homework.course,
                                            valueAllowUnset: false"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Revisiones mínimas</div>
                            <div class="col-xs-5"><input class="form-control" type="number" name="revision" min="1"
                                                         max="7" step="1" data-bind="value: homework.revision"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Fecha límite para subir tarea</div>
                            <div class="col-xs-5">
                                <div class="controls input-append date">
                                    <input class="form-control" id="id_fecha_subida" name="date_upload" readonly=""
                                           type="text" data-bind="value: homework.date_upload"/>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $("#id_fecha_subida").datetimepicker({
                                        minView: 2,
                                        format: 'dd/mm/yyyy',
                                        weekStart: 1,
                                        autoclose: true,
                                        todayHighlight: true,
                                        startView: 2
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Fecha límite para evaluar tarea</div>
                            <div class="col-xs-5">
                                <div class="controls input-append date">
                                    <input class="form-control" id="id_fecha_evaluacion" name="date_evaluation"
                                           readonly="" type="text" data-bind="value: homework.date_evaluation"/>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $("#id_fecha_evaluacion").datetimepicker({
                                        minView: 2,
                                        format: 'dd/mm/yyyy',
                                        weekStart: 1,
                                        autoclose: true,
                                        todayHighlight: true,
                                        startView: 2
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">Tarea a evaluar</div>
                            <div class="col-xs-5">
                                <select name="homework_to_evaluate" class="form-control" id="id_homework_to_evaluate"
                                        data-bind="options: select.homework_to_evaluate,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            optionsCaption: '-- escoja para evaluar otra tarea--',
                                            value: homework.homework_to_evaluate"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="crear-homework-form-submit" type="submit" value="Submit" style="display: none;">
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line">Criterios de evaluación</h6>
        </div>
        <div class="col-xs-12" >
            Basarse en criterios existentes...
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line">Designar grupos para tarea</h6>
        </div>
    </div>
    <div class="row" data-bind="visible: !asignarGrupo.hasCurso()">
        <div class="col-xs-12" align="center">
            Seleccione un curso para asignar grupos
        </div>
    </div>
    <div data-bind="visible: asignarGrupo.hasCurso">
        <form data-bind="submit: submitGruposForm">
            <div class="row" data-bind="visible: asignarGrupo.hasCurso">
                <div class="col-xs-3">Alumnos por grupo</div>
                <div class="col-xs-3">
                    <input data-bind="value: asignarGrupo.cantidadPorGrupo" type="number" value="1" min="1" step="1"
                           class="form-control"/>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success" data-bind="click: asignarGrupo.asignarAleatorio">Designar grupos
                        aleatoriamente
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-xs-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr data-bind="foreach: asignarGrupo.headers">
                            <th data-bind="click: $parent.asignarGrupo.sort, text: title"></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: asignarGrupo.students">
                        <tr>
                            <td><span data-bind="text: $data.last_name"></span></td>
                            <td><span data-bind="text: $data.first_name"></span></td>
                            <td><input class="form-control" data-bind="value: $data.group"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input id="asignar-group-form-submit" type="submit" value="Submit" style="display: none;"/>
        </form>
        <div class="row">
            <div class="col-xs-12" align="center">
                <button data-bind="click: submitForms" class="btn btn-lg btn-success">Crear Tarea</button>
            </div>
        </div>
    </div>
{% endblock %}