{% extends 'base.html' %}
{% load staticfiles %}

{% block profesor-active %}class="menu-top-active"{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'editar_curso' curso.id %}';" class="btn btn-info">Editar curso</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ curso.colegio.nombre }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'profesor' %}';" class="btn btn-info">Volver</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line">Curso {{ curso.nombre }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-md-12">
                    {% if alumnos %}
                        <table id="example" class="cell-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Apellido</th>
                                    <th>Nombre</th>
                                    <th>Nombre de usuario</th>
                                    <th>Tareas entregadas</th>
                                    <th>Tareas pendientes</th>
                                    <th>VideoClases respondidas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in alumnos %}
                                    <tr>
                                        <td class="table-clickable" onclick="location.href = '{% url 'videoclases_alumno' a.id %}';"><a>{{ a.apellido }}</a></td>
                                        <td class="table-clickable" onclick="location.href = '{% url 'videoclases_alumno' a.id %}';"><a>{{ a.nombre }}</a></td>
                                        <td>{{ a.username }}</td>
                                        <td>{{ a.tareas_entregadas }}</td>
                                        <td>{{ a.tareas_pendientes }}</td>
                                        <td>{{ a.videoclases_respondidas }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <label>Este curso no tiene alumnos asignados</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
{% include 'aux/table-translation-es.html' %}
{% endblock %}