{% extends 'base.html' %}
{% load staticfiles %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
{% endblock %}
{% block body-header-buttons %}
    <div class="col-xs-6 col-xs-offset-6">
        <button onclick="location.href = '{% url 'course' course_id %}';" class="btn btn-info">
            Volver
        </button>
    </div>
{% endblock %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" class="btn btn-success" value="Enviar"/>
    </form>
{% endblock %}

{% block extra-script %}
    {% include 'aux/teacher-table.html' %}
{% endblock %}