{% extends 'base.html' %}
{% load staticfiles %}

{% block profesor-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
<script type="text/javascript">
    function deleteCurso() {
        if (confirm("¿Seguro que deseas borrar este curso?")) {
            $("#formBorrarCursoSubmit").click();
        }
    }
</script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="deleteCurso()" class="btn btn-danger">Borrar curso</button>
                    <form method="post" action="{% url 'borrar_curso' curso.id %}">{% csrf_token %}<input type="number" name="curso" value="{{ curso.id }}" style="display:none;" /> <input type="submit" id="formBorrarCursoSubmit" style="display:none;" /></form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ user.profesor.colegio.nombre }}</h5></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            {% if messages %}
            <div class="row">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for message in messages %}
                    <div align="center">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="table-responsive col-md-12">
                    {% if curso.alumnos.all %}
                        <table id="example" class="cell-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Apellido</th>
                                    <th>Nombre</th>
                                    <th>Nombre de usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in curso.alumnos.all %}
                                    <tr>
                                        <td>{{ a.usuario.last_name }}</td>
                                        <td>{{ a.usuario.first_name }}</td>
                                        <td>{{ a.usuario.username }}</td>
                                        <td><a href="{% url 'editar_alumno' curso.id a.id %}"><button class="btn btn-info">Editar alumno</button></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <label>Este curso no tiene alumnos asignados</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
{% include 'aux/alumno-table-translation-es.html' %}
{% endblock %}