{% extends 'base.html' %}
{% load staticfiles %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2"><h4>Profesor</h4></div>
        <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h4>Colegio</h4></div>
        <div class="col-md-2"><h5>{{ user.teacher.school.name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="page-head-line"></h6>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" class="btn btn-success" value="Enviar"/>
    </form>
{% endblock %}

{% block extra-script %}
    {% include 'aux/teacher-table.html' %}
{% endblock %}