{% extends 'base.html' %}
{% load staticfiles %}

{% block profesor-active %}class="menu-top-active"{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'crear_curso' %}';" class="btn btn-info">Crear curso</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ user.profesor.colegio.nombre }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'crear_tarea' %}';" class="btn btn-info">Crear tarea</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            {% if messages %}
            <div class="row">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for message in messages %}
                    <div align="center">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row table-responsive col-md-12">
                <table id="example" class="cell-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Profesor</th>
                            <th>Tareas</th>
                            <th>Estado de tarea</th>
                            <th>Fecha de entrega</th>
                            <th>Fecha de evaluación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tareas %}
                            <tr>
                                <td class="table-clickable" onclick="location.href = '{% url 'curso' t.curso.id %}';"><a>{{ t.curso.nombre }}</a></td>
                                <td>{{ t.profesor.usuario.get_full_name }}</td>
                                <td class="table-clickable" onclick="location.href = '{% url 'videoclases_tarea' t.id %}';"><a>{{ t.titulo }}</a></td>
                                <td>{{ t.get_estado_nombre }}</td>
                                <td>{{ t.fecha_subida|date:'d-m-Y' }}</td>
                                <td>{{ t.fecha_evaluacion|date:'d-m-Y' }}</td>
                            </tr>
                        {% endfor %}
                        {% for c in cursos_sin_tarea %}
                            <tr>
                                <td class="table-clickable" onclick="location.href = '{% url 'curso' c.id %}';"><a>{{ c.nombre }}</a></td>
                                <td>{{ c.alumno_set.count }}</td>
                                <td>Sin tareas</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
{% include 'aux/profesor-table.html' %}
{% endblock %}