{% extends 'base.html' %}
{% load staticfiles %}

{% block teacher-active %}class="menu-top-active"{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2"><h4>Alumno</h4></div>
        <div class="col-xs-2"><h5>{{ user.get_full_name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-2"><h4>Colegio y Curso</h4></div>
        <div class="col-xs-2"><h5>{{ user.student.course_actual.school.name }}
            - {{ user.student.course_actual.name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="page-head-line">Tareas</h6>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-xs-12">
            <table id="example" class="cell-border" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Respuestas Correctas <br>
                        en otras VideoClases</th>
                    <th>Respuestas Correctas <br>
                        de otros en su VideoClase</th>
                    <th>Nota</th>
                    <th>VideoClases vistas ****</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.homework.title }}</td>
                        <td>
                            {% for a in group.videoclase.integrantes_y_answers %}
                                {% if a.user_id == user.student.user.id %}
                                    {{ a.cantidad_correctas }} / {{ a.cantidad_correctas|add:a.cantidad_incorrectas }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% with group.videoclase.answers_de_otros as r %}
                                {{ r.correctas }} / {{ r.correctas|add:r.incorrectas }}
                            {% endwith %}
                        </td>
                        <td>{% if group.nota_final > 0 %}{{ group.nota_final }}{% endif %}</td>
                        <td>{{ group.videoclases_evaluadas }}</td>
                        {% if not group.pq_answer and group.homework.pedagogicalquestions and group.homework.pedagogicalquestions.get_state != 4 %}
                            <td>
                                <button onclick="location.href = '{% url 'evaluate_pedagogical_questions' group.homework.id %}';" class="btn btn-info">Contestar Test</button>
                            </td>
                        {% elif group.homework.get_estado == 1 %}
                            {% if group.videoclase.upload_students %}
                                <td>
                                    <button onclick="location.href = '{% url 'enviar_videoclase' group.homework.id %}';"
                                            class="btn btn-warning">Editar
                                    </button>
                                </td>
                            {% else %}
                                <td>
                                    <button onclick="location.href = '{% url 'enviar_videoclase' group.homework.id %}';"
                                            class="btn btn-info">Enviar
                                    </button>
                                </td>
                            {% endif %}
                        {% elif group.homework.get_estado == 2 %}
                            {% if group.videoclase.upload_students %}
                                <td>
                                    <button onclick="location.href = '{% url 'evaluar_videoclase' group.homework.id %}';"
                                            class="btn btn-info">Evaluar
                                    </button>
                                </td>
                            {% else %}
                                <td>
                                    <button onclick="location.href = '{% url 'enviar_videoclase' group.homework.id %}';"
                                            class="btn btn-info">Enviar
                                    </button>
                                </td>
                            {% endif %}
                        {% else %}
                            <td>
                                <button onclick="location.href = '{% url 'ver_videoclase' group.homework.id %}';"
                                        class="btn btn-info">Ver
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div><strong>**** NOTA:</strong> La diferencia entre Videos vistos y respondidos puede corresponder a evaluaciones de control que aparecen de manera aleatoria</div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
    {% include 'aux/student-table-translation-es.html' %}
{% endblock %}