{% extends 'base.html' %}
{% load staticfiles %}

{% block videoclases-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
    <script type="text/javascript">
        function ResponseValues() {
            var self = this;
            {% for g in grupos %}
            self.grupo{{g.id}} = {
                {% for n in g.notasfinales_set.all %}
                {% if n.ponderar_notas > 0 %}
                notaAlumno{{n.alumno.id}} : ko.observable({{n.ponderar_notas|escapejs}}),
                {% else %}
                notaAlumno{{n.alumno.id}} : ko.observable(),
                {% endif %}
                {% endfor %}
                formVisible : ko.observable(false)
            }
            {% for n in g.notasfinales_set.all %}
            self.grupo{{g.id}}.notaAlumno{{n.alumno.id}}.subscribe(function (newText) {
               self.grupo{{g.id}}.formVisible(true);
            });
            {% endfor %}
            {% endfor %}
        }
    </script>
    <script src="{% static "js/src/videoclasesTarea.js" %}"></script>
    <script src="{% static "js/src/videoclasesTareaDocumentReady.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
            </div>
            {% if alumno.curso_actual %}
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ alumno.curso_actual.colegio.nombre }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'curso' alumno.curso_actual.id %}';" class="btn btn-info">Volver</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line">Curso {{ alumno.curso_actual.nombre }} - {{ alumno.usuario.get_full_name }} ({{ videoclases.count }} VideoClases)</h6>
                </div>
            </div>
                {% else %}
                <div class="row">
                <div class="col-xs-12">
                    Sin cursos actuales
                </div>
                </div>
            {% endif %}
            {% for g in grupos %}
                <div class="row">
                    <div class="col-md-6">
                        {% if g.videoclase.video %}
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <span>VideoClase subida el {{ g.videoclase.alumnos_subida|date:'d-m-Y' }}
                            </div>
                        </div>
                        <iframe width="100%" height="315" src="{{ g.videoclase.video }}" frameborder="0" allowfullscreen></iframe>
                        {% else %}
                        <div align="center"><span>Este grupo no ha subido VideoClase</span></div>
                        {% endif %}
                        <form data-bind="submit: function(){ submitForm({{g.id}}, {{alumno.id}}, responseValues.grupo{{g.id}}.notaAlumno{{alumno.id}}, responseValues.grupo{{g.id}}.formVisible) }">
                            <div class="row">
                                <div class="col-md-6"><strong>Evaluación del profesor</strong></div>
                                <div class="col-md-6"><input data-bind="value:responseValues.grupo{{g.id}}.notaAlumno{{alumno.id}}" class="form-control" type="number" name="quantity" min="1" max="7" step="0.1"></div>
                            </div>
                            <div class="row" data-bind="visible: responseValues.grupo{{g.id}}.formVisible">
                                <div class="col-md-12" align="center">
                                    <button type="submit" class="btn btn-success btn-sm">Guardar Nota</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="line-height:1.3;">
                                {{ g.tarea.titulo }}<br/>
                                Integrantes: 
                                {% for a in g.alumnos.all %}
                                    {% if forloop.last %}
                                        {{ a.usuario.get_full_name }}
                                    {% else %}
                                        {{ a.usuario.get_full_name }} - 
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>Evaluación de espectadores:</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Me gusta: {{ g.videoclase.cantidad_me_gusta }}
                                                </div>
                                                <div class="col-md-4">
                                                    Sin voto: {{ g.videoclase.cantidad_neutro }}
                                                </div>
                                                <div class="col-md-4">
                                                    No me gusta: {{ g.videoclase.cantidad_no_me_gusta }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.porcentaje_me_gusta }}%">
                                                    <span class="sr-only">{{ g.videoclase.porcentaje_me_gusta }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-warning" style="width: {{ g.videoclase.porcentaje_neutro }}%">
                                                    <span class="sr-only">{{ g.videoclase.porcentaje_neutro }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.porcentaje_no_me_gusta }}%">
                                                    <span class="sr-only">{{ g.videoclase.porcentaje_no_me_gusta }}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>Aprendizaje de espectadores:</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    Correctas: {{ g.videoclase.cantidad_correctas }}
                                                </div>
                                                <div class="col-md-6">
                                                    Incorrectas: {{ g.videoclase.cantidad_incorrectas }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.porcentaje_respuestas_correctas }}%">
                                                    <span class="sr-only">{{ g.videoclase.porcentaje_respuestas_correctas }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.porcentaje_respuestas_incorrectas }}%">
                                                    <span class="sr-only">{{ g.videoclase.porcentaje_respuestas_incorrectas }}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>Evaluaciones de integrantes a otras VideoClases:</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Me gusta: {{ g.videoclase.integrantes_cantidad_me_gusta }}
                                                </div>
                                                <div class="col-md-4">
                                                    Sin voto: {{ g.videoclase.integrantes_cantidad_neutro }}
                                                </div>
                                                <div class="col-md-4">
                                                    No me gusta: {{ g.videoclase.integrantes_cantidad_no_me_gusta }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.integrantes_porcentaje_me_gusta }}%">
                                                    <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_me_gusta }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-warning" style="width: {{ g.videoclase.integrantes_porcentaje_neutro }}%">
                                                    <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_neutro }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.integrantes_porcentaje_no_me_gusta }}%">
                                                    <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_no_me_gusta }}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>Aprendizaje del alumno:</strong>
                                                </div>
                                            </div>
                                            {% for a in g.videoclase.integrantes_y_respuestas %}
                                            {% if a.user_id == alumno.usuario.id %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    Correctas: {{ a.cantidad_correctas }}
                                                </div>
                                                <div class="col-md-6">
                                                    Incorrectas: {{ a.cantidad_incorrectas }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width: {{ a.porcentaje_correctas }}%">
                                                    <span class="sr-only">{{ a.porcentaje_correctas }}%</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-danger" style="width: {{ a.porcentaje_incorrectas }}%">
                                                    <span class="sr-only">{{ a.porcentaje_incorrectas }}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="page-head-line"></h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}