{% extends 'base.html' %}
{% load staticfiles %}

{% block videoclases-active %}class="menu-top-active"{% endblock %}

{% block extra-head %}
    <script type="text/javascript">
        function ResponseValues() {
            var self = this;
            {% for g in grupos %}
            self.grupo{{g.id}} = {
                {% for n in g.notasfinales_set.all %}
                {% if n.ponderar_notas > 0 %}
                notaAlumno{{n.alumno.id}} : ko.observable({{n.ponderar_notas|escapejs}}),
                {% else %}
                notaAlumno{{n.alumno.id}} : ko.observable(),
                {% endif %}
                alumno{{n.alumno.id}}FormVisible : ko.observable(false),
                {% endfor %}
            }
            {% for n in g.notasfinales_set.all %}
            self.grupo{{g.id}}.notaAlumno{{n.alumno.id}}.subscribe(function (newText) {
               self.grupo{{g.id}}.alumno{{n.alumno.id}}FormVisible(true);
            });
            {% endfor %}
            {% endfor %}
        }
    </script>
    <script src="{% static "js/src/videoclasesTarea.js" %}"></script>
    <script src="{% static "js/src/videoclasesTareaDocumentReady.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><h4>Profesor</h4></div>
                <div class="col-md-2"><h5>{{ user.get_full_name }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'tarea' tarea.id %}';" class="btn btn-info">Ver detalle de tarea</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Colegio</h4></div>
                <div class="col-md-2"><h5>{{ tarea.curso.colegio.nombre }}</h5></div>
                <div class="col-md-2 col-md-offset-6">
                    <button onclick="location.href = '{% url 'curso' tarea.curso.id %}';" class="btn btn-info">Volver a curso</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line">Curso {{ tarea.curso.nombre }} - Tarea {{ tarea.titulo }} - {{ grupos.count }} Grupos</h6>
                </div>
            </div>
            {% for g in grupos %}
            <div class="row">
                <div class="col-md-6">
                    {% if g.videoclase.video %}
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <span>VideoClase subida el {{ g.videoclase.alumnos_subida|date:'d-m-Y' }}
                        </div>
                    </div>
                    <iframe width="100%" height="315" src="{{ g.videoclase.video }}" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                    <div align="center"><span>Este grupo no ha subido VideoClase</span></div>
                    {% endif %}

                    {% for n in g.notasfinales_set.all %}
                    <form data-bind="submit: function(){ submitForm({{g.id}}, {{n.alumno.id}}, responseValues.grupo{{g.id}}.notaAlumno{{n.alumno.id}}, responseValues.grupo{{g.id}}.alumno{{n.alumno.id}}FormVisible) }">
                        <div class="row">
                            <div class="col-md-6"><strong>Nota de {{n.alumno.usuario.get_full_name}}</strong></div>
                            <div class="col-md-6"><input data-bind="value:responseValues.grupo{{g.id}}.notaAlumno{{n.alumno.id}}" class="form-control" type="number" name="quantity" min="1" max="7" step="0.1"></div>
                        </div>
                        <div class="row" data-bind="visible: responseValues.grupo{{g.id}}.alumno{{n.alumno.id}}FormVisible">
                            <div class="col-md-12" align="center">
                                <button type="submit" class="btn btn-success btn-sm">Guardar Nota</button>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="line-height:1.3;">
                            {{ tarea.titulo }}<br/>
                            Integrantes: 
                            {% for a in g.alumnos.all %}
                                {% if forloop.last %}
                                    {{ a.usuario.get_full_name }}
                                {% else %}
                                    {{ a.usuario.get_full_name }} - 
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Evaluación de espectadores:</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Me gusta: {{ g.videoclase.cantidad_me_gusta }}
                                            </div>
                                            <div class="col-md-4">
                                                Sin voto: {{ g.videoclase.cantidad_neutro }}
                                            </div>
                                            <div class="col-md-4">
                                                No me gusta: {{ g.videoclase.cantidad_no_me_gusta }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.porcentaje_me_gusta }}%">
                                                <span class="sr-only">{{ g.videoclase.porcentaje_me_gusta }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-warning" style="width: {{ g.videoclase.porcentaje_neutro }}%">
                                                <span class="sr-only">{{ g.videoclase.porcentaje_neutro }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.porcentaje_no_me_gusta }}%">
                                                <span class="sr-only">{{ g.videoclase.porcentaje_no_me_gusta }}%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Aprendizaje de espectadores:</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                Correctas: {{ g.videoclase.cantidad_correctas }}
                                            </div>
                                            <div class="col-md-6">
                                                Incorrectas: {{ g.videoclase.cantidad_incorrectas }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.porcentaje_respuestas_correctas }}%">
                                                <span class="sr-only">{{ g.videoclase.porcentaje_respuestas_correctas }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.porcentaje_respuestas_incorrectas }}%">
                                                <span class="sr-only">{{ g.videoclase.porcentaje_respuestas_incorrectas }}%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Evaluaciones de integrantes a otras VideoClases:</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Me gusta: {{ g.videoclase.integrantes_cantidad_me_gusta }}
                                            </div>
                                            <div class="col-md-4">
                                                Sin voto: {{ g.videoclase.integrantes_cantidad_neutro }}
                                            </div>
                                            <div class="col-md-4">
                                                No me gusta: {{ g.videoclase.integrantes_cantidad_no_me_gusta }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: {{ g.videoclase.integrantes_porcentaje_me_gusta }}%">
                                                <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_me_gusta }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-warning" style="width: {{ g.videoclase.integrantes_porcentaje_neutro }}%">
                                                <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_neutro }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ g.videoclase.integrantes_porcentaje_no_me_gusta }}%">
                                                <span class="sr-only">{{ g.videoclase.integrantes_porcentaje_no_me_gusta }}%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Aprendizaje de integrantes:</strong>
                                            </div>
                                        </div>
                                        {% for a in g.videoclase.integrantes_y_respuestas %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ a.nombre }}
                                            </div>
                                            <div class="col-md-4">
                                                Correctas: {{ a.cantidad_correctas }}
                                            </div>
                                            <div class="col-md-4">
                                                Incorrectas: {{ a.cantidad_incorrectas }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: {{ a.porcentaje_correctas }}%">
                                                <span class="sr-only">{{ a.porcentaje_correctas }}%</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ a.porcentaje_incorrectas }}%">
                                                <span class="sr-only">{{ a.porcentaje_incorrectas }}%</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.last %}
            {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h6 class="page-head-line"></h6>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}