import os
from fabric.api import env

env.server_name = 'url.com' # url or IP
env.virtualenv_root = '/path/to/.virtualenvs/your-env/'
env.user = 'your-server-user'
env.port = 22 # port to ssh in server

env.project_root = '/path/to/videoclases/'
env.repo_root = env.project_root
env.manage_dir = env.project_root
env.requirements_file = os.path.join(env.repo_root, 'requirements.txt')