.error {
    border: 2px solid #f00;
}

.valid {
    border: 2px solid #0ff;
}


.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.8;
}

.loader-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.correct-answer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/check-mark.png') 50% 50% no-repeat rgb(249,249,249);
}

.wrong-answer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/box-with-x.png') 50% 50% no-repeat rgb(249,249,249);
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-top: -10px;
}

.spaced {
    padding: 10px !important;
}

.button-invisible {
     border:none;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    vertical-align: top;
}